<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= product.price %></p>
          <p class="card-text"><%= product.description %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h1>Products Index</h1>
<% @products.each do |product| %>
  <h2>Name: <%= product.name %></h2>
  <h3>Price: <%= product.price %></h3>
  <h4>Description: <%= product.description %></h4>
  <a href="/products/<%= product.id %>"> Products </a>
<% end %>