<h1>Products Show</h1>
  <h2>Name: <%= @product.name %></h2>
  <h3>Price: <%= @product.price %></h3>
  <h4>Description: <%= @product.description %></h4>

  <a href="/products/<%= @product.id %>/edit">Edit</a>
  <a href="/products/<%= @product.id %>" data-method="delete">Delete Product</a><br>
  <a href="/products">All Products</a>
